* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding-inline: 2rem;
  color: rgb(229, 231, 244);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  max-width: 600px;
  margin-inline: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.entry-list {
  display: grid;
  gap: 2rem;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry-bar-container {
  position: relative;
  height: 2rem;
  width: 400px;
  max-width: 100%;
}

.entry-bar-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 3px;
  border-radius: 2px;
  height: 2rem;
  background-color: white;
  z-index: 2;
}

.entry-bar {
  --width: 100%;
  content: "";
  width: var(--width);
  max-width: 50%;
  height: 90%;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

.entry-bar--positive {
  left: 50%;
  background-color: rgb(175, 223, 103);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.entry-bar--negative {
  right: 50%;
  background-color: rgb(195, 85, 165);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
